body {
  text-align: center; }

ul {
  list-style: none; }

button {
  width: 100%; }

input {
  width: 100%; }

.suggested {
  max-height: 10px;
  /*&.has-results {
        max-height: 100%;
        transition: max-height .5s;
    }*/ }
  .suggested__suggestion {
    border: solid 1px white;
    background-color: whitesmoke;
    opacity: 1;
    transition: opacity .3s ease, font-size .5s ease .5s; }
    .suggested__suggestion:hover {
      border: solid 1px #0094ff; }
    .suggested__suggestion.selected {
      font-size: 44px;
      border: none; }
    .suggested__suggestion.hidden {
      max-height: 0;
      opacity: 0; }
    .suggested__suggestion .search-result {
      font-size: 16px;
      text-align: left;
      padding-bottom: 32px; }
      .suggested__suggestion .search-result label {
        font-weight: 700;
        padding-top: 16px; }
      .suggested__suggestion .search-result__flag {
        width: 100%;
        height: 50%; }
      .suggested__suggestion .search-result span {
        clear: right;
        text-align: left; }
